
<script type="text/javascript">
	var experiences = {};
	var msg_delete_expericence = "<%= (t 'message.delete.experience')%>";
	var msg_sure = "<%= (t 'message.delete.no_recover_data')%>";
	var msg_delete_tool = "<%= (t 'message.delete.tool')%>";
</script>

<div class="row">
	<div class="col-md-4 shadow-pannel no-padding  white-bg">
		<%= image_tag('avatar', class: "img-responsive full-image")%>
		<div class="avatar_name"><%= @user.profile.name%> <%= @user.profile.last_name%></div>
		<br/><br/>
		<div class="row recover-padding">
			<div class="col-md-12 ">
				<span class="glyphicon glyphicon-briefcase green-icon"> 
					<label><%= @user.profile.position%></label>
				</span>
				<br/><br/>
				<span class="glyphicon glyphicon-home green-icon"> 
					<label><%= @user.profile.location.nil? ? (t 'message.error.no_data') : @user.profile.location.full_address%></label>
				</span>
				<br/><br/>
				<span class="glyphicon glyphicon-envelope green-icon"> 
					<label> <%=@user.email%></label>
				</span>
				<br/><br/>
				<span class="glyphicon glyphicon-phone green-icon"> 
					<label> <%= @user.profile.phone.nil? ? (t 'message.error.no_data') : @user.profile.phone.number%></label>
				</span>
				<div class="col-md-2 col-md-offset-8">
					<button class="btn btn-link" data-toggle="modal" data-target="#profile_modal"><%= t'button.update'%></button>
				</div>
				<hr/>		
				<!-- Tools-->
				<%=render :partial => "users/tools", :locals=>{profile: @user.profile } %>
				<!-- social nets-->
				<h3 class="glyphicon glyphicon-check green-icon">
					<label><%= t 'message.social_nets'%></label>
				</h3>
				<ul class="list-group">
					<% if @user.profile.social_nets.empty?%>
						<li class="list-group-item"> <%= (t 'message.error.no_data')%></li>
					<% else %>											
						<% @user.profile.social_nets.each do |social_net| %>
						<li class="list-group-item"> <%= social_net.name%></li>
						<% end %>	
					<% end %>
				</ul>
				<div class="col-md-2 col-md-offset-8">
					<button class="btn btn-link" ><%= t'button.add_data'%></button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8 ">
		<div class="col-md-12 shadow-pannel  white-bg ">
			<h1 class="glyphicon glyphicon-briefcase green-icon"> 
				<label><%= (t 'message.experience')%></label>
			</h1>
			<div class="row">
				<% if @user.profile.experiences.empty?%>
				<div class="col-md-10 col-md-offset-1">
					<%=  (t 'message.error.no_data')%>		
				</div>		
				<%else%>
					<% @user.profile.experiences.each do |experience|%>
						<div class="col-md-10 col-md-offset-1">
							<h2><%=experience.title%></h2>
							<span class="glyphicon glyphicon-calendar green-icon">
								<label>
									<%= I18n.l(experience.initial_date, format: "%B") %> <%= I18n.l(experience.initial_date, format: "%Y") %> - 
									<% if experience.is_current%>
										<button type="button" class="btn btn-square">Current</button>
									<%else%>	
									<%= I18n.l(experience.final_date, format: "%B") %> <%= I18n.l(experience.final_date, format: "%Y") %>
									<%end%>
								</label>
								
							</span>
							<p>
								<%=experience.summary.html_safe%>
							</p>
							<div class="col-md-6 col-md-offset-7">
							 	<a class="btn btn-link" onclick="delete_item(msg_delete_expericence ,msg_sure, '<%= delete_experiences_path(experience.id)%>')" ><%= t'button.delete'%></a>
								<a class="btn btn-link" onclick="update_experience(<%= experience.id%>)"><%= t'button.update'%></a>
								
							</div>
							<hr>
							

						</div>
							<script type="text/javascript">

								experiences[<%= experience.id %>] = {
									id : "<%= experience.id%>", 
									title :" <%= experience.title%>",
									summary : "<%= experience.summary.html_safe%>",
									initial_date : "<%= experience.initial_date%>",
									final_date : "<%= experience.final_date%>",
									is_current : "<%= experience.is_current%>"
								};
							</script>	
					<%end #experiences%>
					
				<%end #if%>
				
				<div class="col-md-2 col-md-offset-10">
					<button class="btn btn-link" data-toggle="modal" data-target="#experience_modal"><%= t'button.add_data'%></button>
				</div>

			</div>

		</div>
		<div class="col-md-12  shadow-pannel  white-bg">
			<h1 class="glyphicon glyphicon-info-sign green-icon">
				<label><%= (t 'message.about_me')%></label>
			</h1>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
				<%= @user.profile.about_me.blank? ? (t 'message.error.no_data') : @user.profile.about_me.html_safe%>					
				</div>
				<div class="col-md-2 col-md-offset-10">
					<button class="btn btn-link" data-toggle="modal" data-target="#about_me_modal"><%= t'button.update'%></button>
				</div>
			</div>
			
		</div>
	</div>
</div>
<%= tinymce_assets %>
<%= render :partial => "user_forms/experience", locals: {experience: @experience }%>
<%= render :partial => "user_forms/about_me", locals: {profile: @user.profile }%>
<%= render :partial => "user_forms/profile", locals: {profile: @user.profile }%>
<%= render :partial => "user_forms/tools_dialog", locals: {tool: @tool }%>
